/*
 icons: https://icon-icons.com/
*/

@import url('variables.css');
body,
html {
    padding: 0;
    margin: 0;
}

.header {
    background: var(--color-yellow);
    /* height: 350px; */
    padding: 10px 10px 10px 40px;
    margin-bottom: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.icon {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #6F69AC;
}

.menu nav ul {
    display: flex;
    flex-direction: row;
}

.header nav ul li {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 10px;
}

.header nav ul li a {
    text-decoration: none;
    color: var(--color-purple);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 8px;
}

.header nav ul li a:hover {
    background: var(--color-pink);
    color: var(--color-white);
    border-radius: 10px;
}

.header-info {
    display: flex;
    flex-direction: row;
}

.header-image {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 400px;
}

.header-text {
    width: 50%;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.text-one {
    color: var(--color-purple);
}

.text-two {
    color: var(--color-white);
}

.btn-contact {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-pink);
    border-radius: 10px;
    height: 38px;
    padding: 10px 15px 10px 10px;
    text-transform: uppercase;
    font-size: 30px;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.section-categories {
    background: var(--color-gray);
    text-align: center;
    padding: 30px;
}

.section-categories .title-section h2 {
    color: var(--color-purple);
}

.title-section h2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}


/* card services*/

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 0;
}

.card-service {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 25%;
}

.card-service:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    background: var(--color-pink);
    color: var(--color-white);
    font-family: 'Raleway', sans-serif;
}


/*team*/

.section-team {
    background: var(--color-white);
    text-align: center;
    padding: 30px;
}

.section-team .title-section h2 {
    color: var(--color-yellow);
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 150px 0;
}

.card-team {
    border-radius: 6px;
    width: 20%;
    text-align: center;
}

.card_img {
    width: 70%;
    height: 250px;
    overflow: hidden;
    border-radius: 100%;
    margin: -60px auto 0;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_info {
    padding: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--color-pink);
    font-family: 'Raleway', sans-serif;
}

a:hover {
    color: black;
}

footer {
    background: var(--color-pink);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

footer nav ul {
    list-style: none;
}

footer nav ul li {
    display: flex;
    flex-direction: row;
    padding: 6px;
    align-items: center;
}

footer nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.card-footer {
    width: 30%;
}